NiFi/Flow-Akamai-Log.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>e76034eb-20f4-17d4-ffff-ffffbcb33515</groupId>
  <name>TIAA-Flow-Akamai-Log</name>
  <snippet>
    <connections>
      <id>9462a7d7-abe7-3f9e-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>2329.293058945872</x>
        <y>456.16094380109075</y>
      </bends>
      <bends>
        <x>2329.293058945872</x>
        <y>506.16094380109075</y>
      </bends>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>29dfea38-3949-3fb7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>29dfea38-3949-3fb7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a71cbdd8-8a02-35f7-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>1c39b2ed-3050-3239-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>merged</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>42b5c6d2-1676-3ccc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ab390dea-51c2-3cda-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>380.05235625950536</x>
        <y>793.8534388572034</y>
      </bends>
      <bends>
        <x>480.3999315044657</x>
        <y>780.0961244651533</y>
      </bends>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>c09e0195-e0cf-38c0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>c09e0195-e0cf-38c0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ba919cd2-de6c-38c9-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>50a16510-d3d8-3b43-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>not-found</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>2f74b4e3-1a24-39ba-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c134b5db-30dc-3eee-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1118.4165330669657</x>
        <y>832.666131789372</y>
      </bends>
      <bends>
        <x>1118.4165330669657</x>
        <y>882.666131789372</y>
      </bends>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>2f74b4e3-1a24-39ba-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>2f74b4e3-1a24-39ba-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c587d821-746f-3365-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>2f74b4e3-1a24-39ba-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>94630ecb-5ce3-3a8e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d1a96633-e2d9-36da-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>37ef0112-0c8a-3499-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>29dfea38-3949-3fb7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>dcd68218-d59f-3697-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>94630ecb-5ce3-3a8e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>7f5a9918-2807-3e59-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>dede7b7a-ec97-34de-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1689.638273789622</x>
        <y>722.2842195579267</y>
      </bends>
      <bends>
        <x>1689.638273789622</x>
        <y>772.2842195579267</y>
      </bends>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>7f5a9918-2807-3e59-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>7f5a9918-2807-3e59-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fe886ff3-e65a-3242-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>26dadca0-e991-3143-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>c09e0195-e0cf-38c0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0cb5ca84-693d-3163-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1689.511076523997</x>
        <y>1049.6242769309736</y>
      </bends>
      <bends>
        <x>1689.511076523997</x>
        <y>1099.6242769309736</y>
      </bends>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>94630ecb-5ce3-3a8e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>94630ecb-5ce3-3a8e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0dc43c6e-a941-357d-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1697.258146836497</x>
        <y>496.81992512433294</y>
      </bends>
      <bends>
        <x>1697.258146836497</x>
        <y>546.8199251243329</y>
      </bends>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>37ef0112-0c8a-3499-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>37ef0112-0c8a-3499-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0eb22822-eb9a-3ccf-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>29dfea38-3949-3fb7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>b1b5695a-c81a-3257-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3c816681-bcb5-3415-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>3036.325110142774</x>
        <y>930.5067702546974</y>
      </bends>
      <bends>
        <x>3039.859363095443</x>
        <y>976.934890273219</y>
      </bends>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>1c39b2ed-3050-3239-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>1c39b2ed-3050-3239-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>52e8c0e4-1b37-356d-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>42b5c6d2-1676-3ccc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>29dfea38-3949-3fb7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>584957f5-6ff8-35c4-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>2343.785726507942</x>
        <y>1074.0087448415563</y>
      </bends>
      <bends>
        <x>2343.785726507942</x>
        <y>1124.0087448415563</y>
      </bends>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>a402efcb-2195-3c71-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>a402efcb-2195-3c71-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>5ac481b0-65f5-3db5-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>a402efcb-2195-3c71-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>merged</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>42b5c6d2-1676-3ccc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>5d9c1535-2faa-3fbf-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>7f5a9918-2807-3e59-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>37ef0112-0c8a-3499-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7f2f86ea-7995-341a-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>c09e0195-e0cf-38c0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>8fddd350-08d2-3965-0000-000000000000</groupId>
        <id>50a16510-d3d8-3b43-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>e919b8a7-11f4-38be-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-distributed-cache-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Server Hostname</key>
          <value>
            <name>Server Hostname</name>
          </value>
        </entry>
        <entry>
          <key>Server Port</key>
          <value>
            <name>Server Port</name>
          </value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
          <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
          </value>
        </entry>
        <entry>
          <key>Communications Timeout</key>
          <value>
            <name>Communications Timeout</name>
          </value>
        </entry>
      </descriptors>
      <name>DistributedMapCacheClientService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Server Hostname</key>
          <value>localhost</value>
        </entry>
        <entry>
          <key>Server Port</key>
        </entry>
        <entry>
          <key>SSL Context Service</key>
        </entry>
        <entry>
          <key>Communications Timeout</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
    </controllerServices>
    <controllerServices>
      <id>e9a8a993-332d-3ba0-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hbase_1_1_2-client-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>
            <name>Hadoop Configuration Files</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>
            <name>Kerberos Principal</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>
            <name>Kerberos Keytab</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
          <value>
            <name>ZooKeeper Quorum</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
          <value>
            <name>ZooKeeper Client Port</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
          <value>
            <name>ZooKeeper ZNode Parent</name>
          </value>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
          <value>
            <name>HBase Client Retries</name>
          </value>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
          <value>
            <name>Phoenix Client JAR Location</name>
          </value>
        </entry>
      </descriptors>
      <name>HBase_1_1_2_ClientService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>/tmp/HDPConfigs/core-site.xml,/tmp/HDPConfigs/hbase-site.xml,</value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
          <value>birens-hdp0.field.hortonworks.com,birens-hdp1.field.hortonworks.com,birens-hdp2.field.hortonworks.com</value>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
          <value>2181</value>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
          <value>/hbase-unsecure</value>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type>
    </controllerServices>
    <labels>
      <id>ae01ec5c-ee0e-3c03-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>356.150710105896</y>
      </position>
      <height>847.9821166992188</height>
      <label>Sub-flow to identify net new fields. 
1. Scan through the list of incoming fields 
2. Compare with the list of known / previously seen fields. 
3. Write the net new fields to a directory
4. Also, add the net new field to the list of known fields. </label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#f0f0f0</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>20px</value>
        </entry>
      </style>
      <width>1795.8292236328125</width>
    </labels>
    <labels>
      <id>d0bdf67a-9d88-35f6-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>1816.5274658203125</x>
        <y>353.6488037109375</y>
      </position>
      <height>268.7399597167969</height>
      <label>Convert data from input format to JSON</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#ffecd6</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>20px</value>
        </entry>
      </style>
      <width>470.9346008300781</width>
    </labels>
    <labels>
      <id>1d471492-b3e8-3318-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>1816.47119140625</x>
        <y>661.2288055419922</y>
      </position>
      <height>537.5059204101562</height>
      <label>Merge content &amp; store data in HDFS
</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#ffe2d6</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>20px</value>
        </entry>
      </style>
      <width>1295.8173828125</width>
    </labels>
    <labels>
      <id>56072861-d012-3e36-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>1819.425048828125</x>
        <y>0.0</y>
      </position>
      <height>268.7399597167969</height>
      <label>Dummy Data Generator</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#d6f3ff</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>20px</value>
        </entry>
      </style>
      <width>470.9346008300781</width>
    </labels>
    <processors>
      <id>94630ecb-5ce3-3a8e-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>1234.511076523997</x>
        <y>1009.6242769309736</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>
              <name>Maximum Capture Group Length</name>
            </value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>
              <name>Enable Canonical Equivalence</name>
            </value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>
              <name>Enable Case-insensitive Matching</name>
            </value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>
              <name>Permit Whitespace and Comments in Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>
              <name>Enable DOTALL Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>
              <name>Enable Literal Parsing of the Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>
              <name>Enable Multiline Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>
              <name>Enable Unicode-aware Case Folding</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>
              <name>Enable Unicode Predefined Character Classes</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>
              <name>Enable Unix Lines Mode</name>
            </value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>
              <name>Include Capture Group 0</name>
            </value>
          </entry>
          <entry>
            <key>extract-text-enable-repeating-capture-group</key>
            <value>
              <name>extract-text-enable-repeating-capture-group</name>
            </value>
          </entry>
          <entry>
            <key>header_name</key>
            <value>
              <name>header_name</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>1024</value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>true</value>
          </entry>
          <entry>
            <key>extract-text-enable-repeating-capture-group</key>
            <value>false</value>
          </entry>
          <entry>
            <key>header_name</key>
            <value>(?s)(^.*$)</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExtractText</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ExtractText</type>
    </processors>
    <processors>
      <id>a402efcb-2195-3c71-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>1888.785726507942</x>
        <y>1034.0087448415563</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/tmp/HDPConfigs/core-site.xml,/tmp/HDPConfigs/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/tmp/tiaa/akamai</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>b1b5695a-c81a-3257-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>1873.6910891696616</x>
        <y>91.1894984275159</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File Size</key>
            <value>
              <name>File Size</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>
              <name>Data Format</name>
            </value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>
              <name>Unique FlowFiles</name>
            </value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
            <value>
              <name>generate-ff-custom-text</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File Size</key>
            <value>0B</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>false</value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
            <value>remote_addr:"10.220.192.14" remote_user:"-" time_local:"22/Jul/2017:07:45:31 -0400" request:"{\x22type\x22:\x22cloud_monitor\x22,\x22format\x22:\x22default\x22,\x22version\x22:\x221.0\x22,\x22id\x22:\x22e1fc31759733acc5a8748b-a\x22,\x22start\x22:\x221500723916.587\x22,\x22cp\x22:\x22134542\x22,\x22message\x22:{\x22proto\x22:\x22https\x22,\x22protoVer\x22:\x221.1\x22,\x22status\x22:\x22200\x22,\x22cliIP\x22:\x22172.56.21.174\x22,\x22reqPort\x22:\x22443\x22,\x22reqHost\x22:\x22www.tiaa-cref.org\x22,\x22reqMethod\x22:\x22GET\x22,\x22reqPath\x22:\x22%2fpublic%2ftext%2fpmt.gif\x22,\x22reqQuery\x22:\x22appId%3dBankingPublic%26siteSubSection%3dAuthentication%26pageName%3dBankingPublic%253AAuthentication%253ARegistration%26pageinstanceID%3d%26orchestrationID%3d%26rt.start%3dnavigation%26u%3dhttps%253A%252F%252Fpublictools.tiaa-cref.org%252Fpublic%252Fbankauthentication%252Fbankregistration%26v%3d0.9.20170110%26vis.st%3dvisible%26ua.plt%3dLinux%2520armv7l%26ua.vnd%3dGoogle%2520Inc.%26rt.tstart%3d1500723903735%26rt.bstart%3d1500723906424%26rt.end%3d1500723915622%26t_done%3d11887%26r%3dhttps%253A%252F%252Fpublictools.tiaa-cref.org%252Fpublic%252Fbankauthentication%252Fbankregistration%252Fvalidatepersonalinfo%26r2%3dhttps%253A%252F%252Fpublictools.tiaa-cref.org%252Fpublic%252Fbankauthentica" status:"400" body_bytes_sent:"174" referer:"-" user_agent:"-" host:"localhost" query_string:"-" firstByte:"-" request_method:"-" content_type:"-" cookies:"-" X-INF-ClientTargetedURL:"http://localhost:8444-" X-Akamai-Edgescape:"-" X-INF-RequestID:"4db9601d319ba6121c536fc8346e7845@NX" X-INF-SecureSessionID:"-" X-INF-Forwarded-For:"10.220.192.14" Request-Body:"-" NEWFIELD:"NEWVALUE"</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>10 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GenerateFlowFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
    </processors>
    <processors>
      <id>c09e0195-e0cf-38c0-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>25.399931504465712</x>
        <y>690.0961244651533</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/tmp/newcols</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>1c39b2ed-3050-3239-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>2581.325110142774</x>
        <y>890.5067702546974</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>
              <name>Row Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>
              <name>Row Identifier Field Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>
              <name>Row Identifier Encoding Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>
              <name>Column Family</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>
              <name>Complex Field Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>
              <name>Field Encoding Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>e9a8a993-332d-3ba0-0000-000000000000</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>akamai_logs</value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>${uuid}</value>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>allcols</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>25</value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>String</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHBaseJSON</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.PutHBaseJSON</type>
    </processors>
    <processors>
      <id>26dadca0-e991-3143-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>33.85598619196571</x>
        <y>938.8504121848798</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>
              <name>Cache Entry Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
              <name>Distributed Cache Service</name>
            </value>
          </entry>
          <entry>
            <key>Cache update strategy</key>
            <value>
              <name>Cache update strategy</name>
            </value>
          </entry>
          <entry>
            <key>Max cache entry size</key>
            <value>
              <name>Max cache entry size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>${header_name}</value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>e919b8a7-11f4-38be-0000-000000000000</value>
          </entry>
          <entry>
            <key>Cache update strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Max cache entry size</key>
            <value>1 MB</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutDistributedMapCache</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
    </processors>
    <processors>
      <id>29dfea38-3949-3fb7-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>1874.293058945872</x>
        <y>416.16094380109075</y>
      </position>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script Engine</key>
            <value>python</value>
          </entry>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>import json
import java.io
from org.apache.commons.io import IOUtils
from java.nio.charset import StandardCharsets
from org.apache.nifi.processor.io import StreamCallback
 
class ModJSON(StreamCallback):
  def __init__(self):
    self.ks = ''
    pass
  def process(self, inputStream, outputStream):
    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
    text = text.replace(' -','Temp0raryChang3-')
    newObj = ''
    # split around semicolon and then strip spaces from the ends
    fieldPair = map(lambda s: s.strip(), text.split(' '))
    newObj+=str("{");
    for i in range(len(fieldPair)):
        aPair = map(lambda p: p.strip(), fieldPair[i].split(':',1))
        newObj+=str('"'+aPair[0]+'":'+aPair[1].decode('string_escape').replace('Temp0raryChang3-',' -')+",")
        self.ks+=str(aPair[0]+"\n")
        
    newObj = newObj.rstrip(',')
    self.ks = self.ks.rstrip('\n')
    newObj+=str("}")
    newObj = newObj.replace('Temp0raryChang3-',' -')
    bytes = bytearray(newObj.encode('utf-8'))
    outputStream.write(bytes)    
    # outputStream.write(bytearray(json.dumps(newObj, indent=4).encode('utf-8')))
 
flowFile = session.get()
if (flowFile != None):
  modjson = ModJSON()
  flowFile = session.write(flowFile, modjson)
  flowFile = session.putAttribute(flowFile, "filename", flowFile.getAttribute('filename').split('.')[0]+'_translated.json')
  flowFile = session.putAttribute(flowFile, "field_keys", modjson.ks)
session.transfer(flowFile, REL_SUCCESS)
session.commit()</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExecuteScript</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>2f74b4e3-1a24-39ba-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>663.4165330669657</x>
        <y>792.666131789372</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>
              <name>Cache Entry Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
              <name>Distributed Cache Service</name>
            </value>
          </entry>
          <entry>
            <key>Put Cache Value In Attribute</key>
            <value>
              <name>Put Cache Value In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>
              <name>Max Length To Put In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>${header_name}</value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>e919b8a7-11f4-38be-0000-000000000000</value>
          </entry>
          <entry>
            <key>Put Cache Value In Attribute</key>
            <value>header_exists</value>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>256</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchDistributedMapCache</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>not-found</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type>
    </processors>
    <processors>
      <id>37ef0112-0c8a-3499-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>1242.258146836497</x>
        <y>456.81992512433294</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>(?s)(^.*$)</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>${"field_keys"} </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ReplaceText</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>42b5c6d2-1676-3ccc-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>1883.8534837505595</x>
        <y>752.3466432639814</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>
              <name>Merge Format</name>
            </value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>
              <name>Attribute Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>
              <name>Correlation Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>
              <name>Minimum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>
              <name>Maximum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>
              <name>Minimum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>
              <name>Maximum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>
              <name>Max Bin Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>
              <name>Maximum number of Bins</name>
            </value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>
              <name>Delimiter Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Header File</key>
            <value>
              <name>Header File</name>
            </value>
          </entry>
          <entry>
            <key>Footer File</key>
            <value>
              <name>Footer File</name>
            </value>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
              <name>Demarcator File</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>
              <name>Keep Path</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Merge Strategy</key>
            <value>Bin-Packing Algorithm</value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>Binary Concatenation</value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>Keep Only Common Attributes</value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>1000</value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>10 B</value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
          </entry>
          <entry>
            <key>Max Bin Age</key>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>5</value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>Filename</value>
          </entry>
          <entry>
            <key>Header File</key>
          </entry>
          <entry>
            <key>Footer File</key>
          </entry>
          <entry>
            <key>Demarcator File</key>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>MergeContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.MergeContent</type>
    </processors>
    <processors>
      <id>50a16510-d3d8-3b43-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>673.4778123638407</x>
        <y>451.38816242902044</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>filename</key>
            <value>
              <name>filename</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>filename</key>
            <value>${header_name}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>7f5a9918-2807-3e59-0000-000000000000</id>
      <parentGroupId>8fddd350-08d2-3965-0000-000000000000</parentGroupId>
      <position>
        <x>1234.638273789622</x>
        <y>682.2842195579267</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.1-5</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitText</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
  </snippet>
  <timestamp>10/09/2017 15:41:12 UTC</timestamp>
</template>
